<h2>{{session.name}}</h2>
<div>{{session.track}}</div>
<div>Prévue le {{session.date | date}} pendant {{session.duree}} jours à {{session .local}}</div>
<!--<div>{{session.participants}} Participants</div>-->
<li *ngIf="session.participants <20;then ok else notok"></li>
<ng-template #ok>Encore {{20 - session.participants}} places sont disponibles!</ng-template>
<ng-template #notok>Session Complete!</ng-template>


<div class="tools">
<a class="delete">
Details
</a>
<a class="inscrire" [appInscriptionDisabled]="session.isCompleted" (click)="inscrire()">
Inscription
</a>
<a class="partager">
Partager
</a>
</div>
